[project]
	description = Pigrider Account Website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Superlentil
[access "refs/for/refs/*"]
	read = group user/Superlentil
	push = group user/Superlentil
	label-Code-Review = -2..+2 group user/Superlentil
	label-Verified = -1..+1 group user/Superlentil
	rebase = group user/Superlentil
	removeReviewer = group user/Superlentil
	submit = group user/Superlentil
[access "refs/heads/*"]
	read = group user/Superlentil
	create = group user/Superlentil
	push = +force group user/Superlentil
	pushMerge = group user/Superlentil
[access "refs/tags/*"]
	push = +force group user/Superlentil
	pushTag = group user/Superlentil
	pushSignedTag = group user/Superlentil
[receive]
